# Node modules
/node_modules/

# Build output
/dist/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript cache
*.tsbuildinfo

# Optional: if you use testing tools
/coverage/

/generated/prisma

/generated/prisma
